body h1{
font-size: 4rem;
color: #2E073F;
text-decoration:underline;
text-shadow: 4px 4px 4px black;
width: 2000px;
height: px;
display: flex;
flex-direction: column;
align-items: center;
font-weight: bold;

}

body{
    font-family: Arial;
    margin: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("background 1.gif");
  }
  
  
  .choices{
    margin-bottom: 40px;
  }

  .player{
    font-size: 2rem;
    margin-right: 10px;
    display: flex;
    text-align: justify;
  }

  .computer{
    margin-left: 300px;
    margin-bottom: 50px;
  }

  .image{
    display: flex;
  }

  .computerImage{
    margin-left: 300px;
  }
  
  .choices button{
    margin-top: 50px;
    font-size: 3.5rem;
    min-width: 170px;
    margin: 0 20px;
    border-radius: 30px;
    background-color: hsl(34, 78%, 80%);
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .choices button:hover{
    background-color: hsl(34, 78%, 90%);
  }
  
  .play button{
    font-size: 3.5rem;
    border-radius: 30px;
    min-width: 170px;
    background-color:hsl(60, 56%, 80%);
    cursor: pointer;
    transition: background-color 0.5 ease;
  }

  .play button:hover{
    background-color:hsl(60, 56%, 90%);
  }
  #loader {
    display: none;
    width: 50px;
    height: 50px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #141414;
    animation: spin 1s ease infinite;
    position: absolute;
    left: 60%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

h2{
  color: aqua;
  font-weight: lighter;
  font-size: 1.75rem;
}

h3 button{
  font-size: 2rem;
  border-radius: 30px;
  background-color: hsl(0, 100%, 55%);
  width: 125px;
  height: 55px;
  margin-right: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#computerChoice {
  position: relative;
}
  .picked{
    font-size: 2.5rem;
    min-width: 170px;
    margin: 0 20px;
    margin-right:465px;
    margin-top: 50px;
  }

  .player{
    color: #EBD3F8;
    border-radius: 25px;
    
    font-weight: bold;
    font-size: 2rem;
  }